* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #fafafa;
    color: #222;
}

/* ===== HEADER ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #000;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

header nav a:hover {
    color: #ffcb06;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

/* ===== HERO ===== */
.hero {
    height: 400px;
    background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUSExMVFRUXFxUVFxcYGBUXGBUVFRUXFxcVFRgaHSggGBolGxcWITEhJSkrLi4uFyAzODMtNygtLisBCgoKDg0OGxAQGy8mICYtLy8rNystNTY3LSsvLy8tLS8tNy4wLzYyLy0tLy0vMi0tLS0rLS0wLS0tKy01LS0tLf/AABEIAJEBXAMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAACAAEDBQYHBAj/xABHEAACAQIEAgcFBQQHBgcAAAABAgMAEQQSITEFQQYTIlFhcfAHMoGRoRRCUrHRIzNyczRigrKzweEWJDVDU/FUkpOio8PS/8QAGgEBAAMBAQEAAAAAAAAAAAAAAAMEBQIBBv/EADERAAICAQIDBAkFAQEAAAAAAAABAgMRBCESMUEyUYHwEyIzYXGRobHBBXLR4fFiQv/aAAwDAQACEQMRAD8A4yy6mnjYAgnYEE/A0m3NCRQH0X01ZorlGa+IFlIJGQIq5lH8XY8Tr3CtHh2BUMtrEKR4ggW+lZzo5iV4pwqJr3lRQpN9VxEK2ufMEHXk9WHR89WiwMdbM0Zu3bjBtazaqybMnLSs7WaZRzZFc3lnujskrHGT2xt4Fhh8WrlgL3U2Pj4jvF/W1TOwAJOwFzTELe9hmPPS5HnuaOs5mqiLES5FzHvA5cyBzPjWT4bw93lkykZZJpTk0IyqxKTk7oQW0I/CO/S56RcYWCNgCDIQQq72P4m7lG/nYbkVbcKwKQR7BSQGcmw2HfsFXXw3OpJJtUaR3bPs9fD7fEz9XbFSSXNfk4r7cABj4he5GFiBPeetm1Pj+tc+vV70540Mbjpp11QkJH/LjGVT8dW/tVRWrZfMrxWEWnAOMyYWTOlyDYOtyuYKbqVYapIp1VxseRFwdqeE4TiCiVTlu13MUUKviHYfuWzMBhpzrpcxvfMvaJUc4Fu76V7OG4x4Xzxm1xZlIurqd0kU6Op7j9DrXh0argmLOIxeNkYdTiZQREmcRuv7RRLErtbLL1a5b2DECS1iaZ4Bw9GSR7k4jCyRxsFDp1DFpJ2RWbqgRZBchm5gAVLNh4eJxlwQmJUdrOfeGypOx95fdVZzcg5VkNyrHw8N6N2jAfCtJNJJLEEbrUjw4hCBmm6rtZi0gGpygC50oCq6UYbq8bikttiJ/kZWI+hFVuWr7p0CcfiG/EY5P/Uhjk58+3VGtvQoBBKILbl+VOo9WowPD6UA0RswYDYg/I3rrnGiGw0ctg4UxuRyZUYXB8xcVyUp4W+Fe6HjWIRerEr5CCMpOYWtawDXsPKqmp07tcXF8i1ptQqm8n0DwnjsEovCOqS1iLKNQL6C9hvvfzFVmEjVQCdWkKu40JBzKzgm9ma+UaHTX48p4J0tli7DIrq1hzUjxB2J17uVa/8A2shw/wCydjZu0bKXUO29gB2R4997WqtKE4S3jvvjH8FmF1Clwxk1nv8AyzZyKFz5iRGQ2p07OVTqTyuD9awePxwcKFvdATr2QwYJpuCT2Qbc6sOI8cWWAMjh1Z+r0s2XsAkBTuSMuh7z316sPh82+qkC97Xsbbk65zYbaDTyrmMF2ntguKUYxy2eHAYy0cxkXsdWVkCCzqR2r3y2G3j51juL9bjsWmGEihY7Rq7Xydo3JuBcINfHSugYPCpnKQgLlVs7HU5dCQRvu29tudePh0MeFmMmHC5rAN/zFl7RzKC1yAVCmwtqTSu6EZNtb9DO11vJ9O4590r6GYrhxXr1Qo5IWSNiylgL5TdQVa2uorOFa7h7Q+KNjsG2GSL9pnR982iEk2sNCRt51y7/AGUxIjMrRiNBbWRkSwPMliAANN7HXYmtCN9cuqKOU+Rn8vlSItuPyqUj1arforCWmdlTPJHDNLEtgc0kYBFlOjMozOBzKCpgeFeBz2DOoiU6gzPHDcHYhZGDEeIFSxdH3YhVnwrMTYKJ0LMTsANr/Gj4xxYTEx6FFYEO0a9eQAQTKwPac3uSdyAdKs24eM5EOFglhU9mVcUVlK8nLmYCNra2aMAHlpQFFxHgmIgGaWIqt7FgVdQe5nQlVPgTVe3rStZwmOaXEs0eJBVS0IuAxlhQMVDwiwkiP3j3knxFF0hwaxTdhcqOkcyKdciyoGKX55WzKDzAB50BXWoStGLegKa3q1AaTA9CJ5YVmEkQDKGAObYi4ubaVU8R4JNCyoyhixspQ5gx7vOth0E4gZI1w7nKqk7iwZGa/ZJ5qSdBWrx3CxHq1rC5B31Ol/P9TWNbrrabXGeGvOCrK6cJYZz/AIb0AnkF3kji8CCxHnaw+V6zHEsL1UskWYNkYrmAte3O3Kunw8WAbLft2sAdBcjvOmumt6xXFuieLjvNIoKElmkU5gtzc32sNd7WqXSauycn6Vpdx1TY5PEjPxRFjYD9BWm4B0NxGJ1jjJX8b9lL+B1LfAGth0B6BCRVmxC2jNikZ0zDfPJ4Hkvz7q2nEOkSxN1GEj62QdnT3UO2W45+A+lSXarfETXp0+TJ4H2UsQOsxGXwjQD5Fr3/APKKsR7K8Pznmv8AxIPp1dWGMwGPKl8RM0S/hjFt9gLa3N7atWf+yvr28Q2p1DSsPn1gv8Kqu2be+fPgXqtEprZo48w1pWpNvSvW0YRrvZ10ybhs5zXbDyWEqjcWuBIg/ELnTmPIV2jiqriYknw0geEnrMyG5WQWAlQDUEKZAw3vY23NfNQq16P9I8Vgnz4aZkv7y6FH/jQ6Hz3r3O2Gc4xJSR2jD8bxIBWRDJk16xRkNtg2bUEEEH3dMwv3m4wONxUwCxxqmg7bsXtexBawFiRrbfUdm2tc5wHtavH1eIwSEXLZoXyEMb3ZVZWAOp57EjbSvZP7Zgi5cPggo5GSXnzJVV1N9b5tapvSJ2ZeOH6/we+ksXJvxx/GfqbrDdFLu0uLlEtjcjVQwGxc30HPKNB463wPtL9owmR8HhSCjFlllU3DJt1aHmD947chzNYvpJ02xuOus01o/wDpRjJGf4hu/wDaJrPirm0ViJFCpLd8xxRqKEUYNeEwrUQBph5U9AejA4t4XWRGyuux0OmxBB0KkEgg6EEiui8P4x9qw5EYi6wZQEmGZBJoqI5JDANYLHLfuje9kNc0FejBYp4nDxtlYXF97g6FSDoykaEG4POgLvpqrfaFLpkdsPhXdcuXKxgQFcv3QCpFvA1RZfD8q93GeKy4qUzTEFiqrZbKqqgsoUctK8QHlQCC04ApD4UdvKgAtRU5HlSHrWgHA86ka5Nybk7k7016O58PpQHs4ZxHqg0bRiSNirFcxVldbhZI2HutYkbEEaEVpMF0sLkRKvVg31eRjna1wHcWC3PMAa71jfgKY1y4p8yWu6cOTOodCMS0spwWJhaEuGeSRiQ7ZSDGkdwQygankbd1BxbisEU64ctd80mZi+cAE5Y0JsFDEakAaaamueQ8XxCJ1SzyrH+AOwW3cADpXhqKenhJHFr9Jly5s6UvSmCBmiLWYMbnISPA3Hhasz0z4ksz54cQzJbKy5iN/e03yE/dPwFZ2RydSbnTc66aCojUVWihXLiT3O/S5hwuK+PUjIqXA4toZFljNnQ3GlxsQQRzBBIPgTQEeVCVq4RGm+1x4nfEZUb34MQwBQHnhsSwI0OqhypFrHMNT7uJ9E1cB48LK+pIGGs+YFQF7d2WMXBOgfffnWHNR9UO4fKgNaOCRQnPiUlwdtcjzxu0gHJY1USnxFrHbMu9UHGceZ5mksQLKqAkEqiKFUG2l7C5tpcmvCFA2A+gpyfKgAIooIGkZUQXZiFA7yaGjw+IeNg6MVYbEbivH7gdTfCZFCooGUBbchYai/P4V6o8ZK+HcS5NCEBtdpDa+W33SAR2vG9tNeYYjpDinFmma3hlX6gCtbwgR4nBg5+rMZySi9he1y5/qkC5PgKyL9K4rMu8qSqa3YzYd83LXTQrvfa5re9HP2t4wCMoCtmF1sy3troxtqfOudYHpNGHdHu0akhZVGpIvYleYHz20rpHCZpMLBNNLHYBAU7QOZuQAB0JJtUFlUlJcS2JtPRKVqUo7DdLOMlScLCStheVxuqke6tvvH/PxFVHDsRJELQLHGRftMCxJVSxVnBCpoDcC9u++teWFGTK0ov1v7QsfvHMCfkcpt5Vd4LFBE6kgEdnq3NnUG4OoyiwNgRvtqRpSPrN+4+j0+pq4pUcPrLv6+89/C+MsMNlX3IxIs6OWkcFxmRkkze5c3ub9nnddfBguLGKNEIRbLtkeS+p7RKEBbm+mvnrVnw+MHrFjiIChbSg/vAVz6W3UB7XvyI5VRzYCJcv7cIGUMqnK2UXIIUtrbMGtUznKXMkgtPByi9k3n6HC23pqdhrTVsnzo96e9MKegHBoqECnFAPT3pr096AcGiBoQaMGgCHraiB0/1obUVvXoUAl+FGp9aUwHl6+FEAaAIH1eiDer0wJ9H/AEogPXoUAQb1pRq3l8xQqLUWY91AFcejT39XFDn9ehT0A+b1pSB9Xol8vrRa91AAe/8ASkzab/WiK/D15UxXy+f+lAQ/L50s3q4oz8Pmf0piDQEd/V6Zm9XFG1AR69CgBJ9aUxPl86IigLUAJYejQMfV6JnqNqAYmhvRUxoAb0zGkRTGgBpZj6522vSNMb0BbdHMNnkgj/6k8anxGcXHyBrt/Tdz1MEQ/wCZIt/gC1vmBXHOhJ/3rB/zh+T12Hpl+8wf8Z/If61l6x7+BqaPtLz0M5w3pOuJnVI4ZR1XWoQACyKhjyu19r5XFhc6VdOC9ls6gG7OUIygEaoGFyxttbS5Jrys8uLchLhNSFBKjKCRnkZe0xNtADoO+oxHImXKZdu1H2mUka2XOSQwBUkA23FROzEcRWEXpVTrqbclxJNlj0NwuJV51mmgGG06nIQ+jEkltS0YO5RrAEmwqr47jSspsiyD7rdj3QSoG1uWluRFFgGWPrA6A58uhAzEi9gvZJza8qKHEMlwQ4JN7KucAbWJ1N9NjUNl0rezH5GFRNXrePF8/wAY+5xBxrTWr0Pg33FmHhUvDMBNIxMULydX22AGwXXX5HSt1zSWTjhedzWcK6EJ1ZednzBGfIug7K5smbm9tbW2Brw9K+in2YZ0zAAgOjWJXN7rAgaqdvAkV0no9xxSnWLkaNnDE7sC4sRYaiwDeZt5nP8AtA4oow75yTLLdFBsLLnVswB7QGmzXttes+F1js5+B9BbpalVJcKSS2f9mE4R0XxmKQyYfDSSICQWAAFxuASRf4V4sfw2aBsk0TxN+F1KkjvF9x5V2z2c9LBN9mw2HKokMAE0RjbNmUZS6yDskFyum/aOmlRe07jUGJwOJR4wGhljWCTMjiR+sysEKnQjK+ZdwLXAq9xvODA4NsnEMtK1OKe1SHAwWpFpgKNaAdaMLTA1IKAa1OFpwaIGgHUUQW9K9ODQBBKIJTDzo186AYp5/Sl1dSAeP5UWTx/KgIxHRreiFELePr4UAFj6NLJ60qXTx9fChIuP+1AQsutqjy+r16CaAt61oCFhQ5Kkc+tajJoASlR5akN6YigIXWo2WpiPH8qFloCHLTVIaE0ABoSKNqY0BGRTEURpr0BY8BxXVvFJe3VTRufBQ4J+l67p02S+HimGvVyK3wa63/8AcDXz9gyMxU7MLfH1eu7dA8euO4f1EhuyqYZO+4Wwb4plPnes/Vw5Mv6WzhaZVcLcROgKAspzK2VS5iOq9VmNuZBI1FuVSce4sSWsGBNhGGYizEgG6glQo/Fpta5qy6PxIT9jxEImdJCCGIHVxkXWUX94E32IIr0Y3DYNEKYdI2SQOPFmjcK6ljqcoJbe4y+VVVBuGTVu1dHFi2Df2a5+eh4eHxCVHaBCSpXMTlJXKozEXNjfew7+VDjsOWYEZdhshbW537jtpXo4J2AylLREZTZj9427TXuSdPyGgtUj8ahiJSLMVGnZVpACNCCwvcjbfSuVJ1R5PcraOEa3KVSbT3xjl9yv4p7NsFiF6zDN1LHUNEQUPml7EeVqxh4JjsDN1LAmOZhGZEAKsLnRgQSjWJ+das4QxMXwzsjjUhdEI8j7+txc/Mc77g/SFMRaDEqEkOgP3Xt3dzabHu0vXfpJ8OJcveQS06nHih/fijnHEeACCJ3hZo2WNiMrkFiNyw+9a2vnWUw2N6iaPEErieyCQ99HZdVOa+qnS9rGtp7RuickDGcM8sBFmDMzmHXkTqYzf4c65ziYypAJJH3b93dVzTRTg+J5z5wUZKyMeFy2+hMnEpFlaaJmiYsW/Zkra5vYFbaVA7liWY3Ykkk6kkm5JPiaECnA8KuJYIRxT01qXzr0DipL0Hzoh8frQBgUajwqMDzqQHzoAlo1UUIHnRAd4oArUgDRADuNIDwoBwfVhUimkqjuowB3H60A48qMA0IA7j9af5/X9aAIUeaox8frTgef1oAiPChI8BS08frTH4/WgBt6tQlBUjDz+f8ArQMPCgInHdURvU5Ud1RsB3UBHf1YUN6kKjupmA7vzoCK1C1GQKA+t6AjNMTRMKAjzoASKYmnIoaAamy0RoTQAn8q1XQ7pI2EmEw1Q2WZBuVvoy/1l38dRWWIp4pShuPiO+o5wUlhklc+Fn0bj8KMZGmKwsmWULdHU6Oh1ytbkfofjVNh8UkzdXiB1c6aa99wQe46jyNc66HdLpMG10u8JN3ivYqTu0Z5HvGxsK6vBiMFxWIMrAsNLjsyRnmDzXy2PjWTdTKDNOm+LWJef6Ma3Eca4aKbDmKPrgrMcygRsVUZCTqx1ub6Ajzq9weDiyDrkkDchmgQBeQVWcELUnEeA4xY2hBWeJhYagOOYIB0uDY7/CvDBhsUAc+FkzE3JAhYE2AuCWuNtqTtc3usGjplGNXDGa55LXieGXAQ9bmeRSCosoGrEWuAdSSLDTUnlVRxTF4cKYZC+dWCk2sY3e0t+XZs9zba3fWjhxsRRbqWsewACSLX1K7aHv00vesx0pMTwsVYlw5c3FvfZVt46DkTtvXvErEljYg0dcXJJPbPTxNN0e4gZg+DxNjIoIGYD9rHsSe89/nfnXI+nHRv7JM0QvkN3hP9W9ihPMqSB5Fa6NxWJ44oMUo/aRBM39YZRdSfmPiO6pvaTgVxOBGITdMsqnvUgBh8VN/7Ipp7OGRW1VS5ryzgqnSjBp8QlnI8b/PWhFbCeTIawwrU/rahFPXp4EB61owKACjoB7UaigGlGgoCUAer0Sjw+lABRAD1agDtRC3oU1gKTUBKtu76GiB8DUCijBoCew8flT38PpUQox8aAkVfDXyNPl8/rQAU+lAIrrz+VIDX/vQg2p7eVAOUF6Dfl9Kehyju/KgBIqM29CpGt6tUb2oAT5fnQk+FNahvQCIFRny+lEaGgBI8PzoSKIigagBK0NqekRQDEU1I0rUANqanJFMaAZWINxcGrHAcWaNw6s0cg2dDY+R7x4G4qupjXLimdRm0dK4V7TsUgAbqprc9Y2Pna638lFWo9rEv/hf/AJR/+K4/Rxqbbmq70sO76v8AkmV7O3Pi1w2USGxtlNtdie7Ug8ufhYmjihgxUqOz6B1AS/bILDM7qNQAM5B5XY6VBgoRNiLdpdALqjMwsbAZgDkB3JNe7HYHKrws6iVkKRnN2zdxIFJJ0TQJrvbX3gKz6ZNwUUav6f6N6aPA2nv4btfQ0XGcS0sTKA8Kp1o6siO065bKedlvrbQ7Xqt6PKJeG9WdQBJF8AWQfS1ZnhvDcbHK+ImskLYc6XbOz27AdG2Zb2uLC3nWn6Ldjh+Y82lf4F2P5V3fzT93yIoxxXJf9Hz7jh2x5C/1qICpce13B8L/ADvUQrVhyMqztMXrlT3pU966OBw1HmoBTgetKAkB9XFEB5fSgU1IN+75UASjxolYUIf1pT5vWlAHfxFOPMUF/WlErj1agJB8KNfhQI3rSjD+tKAL1yog/rT9aEnW/wClLOfH6UBIJB6tRNJ6uKiNz303z+lATFvVx+tCVvsR9KZW8/pReOo+VAAfEihLinZzsRf5VGz+rrQCJ8ajbzFOx8fyps/rSgBI8RTHSiz93+VMWoCM+tRQlvWlG29/0qNmNAMW9aUzN60pm1obUAxPq4pivrSiDU1ADXr4fhg3bfSMHXW2Y/hH+deVQSQALkkAd5J0AHjV3jMJGqIryNdBlcRhXCOdSXOYczyqK2eMLvLGnUcuUlnCzjv/AK7yufij/dyBfwhEtbxuLmgxsYKpKq5Q1wwGyup5d1xY286WM4c6DNbPHpaRdUIO2v3fI1LhVyQyO+gkAVAfvEN7wHcLb156qScf9JK5zvbjN5WG/wBuPx08SLh2B6xZHZgiRrmYnck3yqo5kkWqDGYKSIgSKVLKGF7ag7HTaugdEegmLxMCyZljSVOshfKhyyIxAEq2BCsL2IuKo+lHH1lTqDF210dmsDHIpswS2+oI7ta8cpqeEsr7FMydTRbVHapImNqnB2fB4KSGNmSMSwhycpaRigQkFgoIMqAjRTcrrbNew9Dyvi1DwvpJeNmFwild5FvbObG2gvpYnS51ONZFRTHiI0aQB11j7ca3uUNyOa67bVk5XiWW3WRs0jEdUrqetOW7k5CVR9R2tM2gbSzLk8M3U21ubNGo4F6nhnoenjZ6nDJAnaZgsa6AEgaDQeNh869fS2UYPhhjB16sRL4swy3+WY/Cg6OYRsRM2LmBURkokZ0KsNCWHeL6ed+Yvhfar0mE0nVIbpESNNmltlNu8KCR5k1DRU3LDPdRasYT9/ic8xDXcnlsPIaUFEsDZc+Vst7FrHKCdgTa1/CrzgnBkkRGk61mld0jjiMa6RBTJJK7ghVGccuR257aRjvdlGq3v4C/wvb/ADFSPAy7g6aHuB7r1qf9nES5hnjmVkaRFIZWKxuAzE2CuoK6gGxAB2NebFuvV3kYMbH3soOc66KuYdw7x41HKzDwRylh4M6KMUBPde3jRA1KdB3rY9FeOYaKDqmEMU2Zi0sgB61CdFzmCbJl2y5LG977is5wDh32icRs2SNVeWZwL9XDEpeRwOZsLAcyRVo3S+WIlcGkeGiGgURxO720DTyOrGRu/lvagLvplDgocNmw8cZGI6tkbLlZTpLI6X1VAnVKEFh/vDEjQAYhHBGla7G9Ls+EikSHCxzxyGJv2MbdhkBSSCNgUiH7PK1l3y2IGlVkPH1nOXHJG6tp16RRxzwdzq0aqJFG5Rgbi9rHcCnzCnBqbiWCeCWSF7ZkYqbXse5h4EEMPBhXm9c6AlDU+aowaNFJ0Gp7hegHuKcH4nuFbrh3RjBworYp3kmIJ6pLhENrhZCBmuNL/pvpOKTLhI4/sypGHvc5UtpYENmGh1Ogt7p53qjZroxkopZz8izHTSfM5fjsAYlRiwJcE5QRde6+uunPwoMRhXibLIpRrA2bQ2IuD8jXRZnTFYeOOSOPrWkYGTQWhw6h3YX27RSPTS7io8Ti4scVwpiCyMQqSksSjXDHKgU5VYA7crE6617HUyWE1k9Wle/uObk02WrXpRwOTBTmFyGFsyONmQki/gQQQRyIqnb1vVxPJWaw8BE2pFqjzUwJ8K9PA2b1pQMaRPl9aBjQCLUBNOTTE+NAA1CaliiZ2yoCzdygsbd9hyqxPRrEgDMqqWICKWUvIxDFURUubkI1r2HjQFSaY0xNIk94oATTWp81CaA9vBdMRGe5s58kBc/RTXnixBVsw8bg6gg7g99LB4jq3V7XAvcd6sCrC/kTUhwqE9iZfAOGQ+RNit/jUcsKTzywexk4y4kWPBupLuVLKDFLnj0IICE+9vobEacqqMbijI2YgAAAKo2VRsBVjhIuoWR3ZCzI0aKrBzd7AsctwABfnzqtwmFeV1jjRndjZVUXJPhXFaXE5ZJJXOe0UlnGcdfPctjedAvaEvD8NIj9dLIL9Ql16pbgd+q9q9/A6CufyOXck3Z2Yk8yzMbmw56103h3sp6uAzY6UqQL9VHl08Gc6A+W1afB4LC8OgEsWGjEzMscTNmkZjICQSxuQAFJ7Op0ta4riWqgnwx3Z0qW+Zxmbo/ikXM2GmC9/Vv+lQ4fAyFbhdDtcqv0JrsEnTLFgNZg5IOUFRa7IGVVC6mwKk30GcXuBer7hXDMIYwwhXEZu0ZZArNIxAudToL8thaobtb6FZnhFmGjjjLz4FTE0s662CR3Ay2GlgLamw0AO3f315cOkMchGFi6zEvuw1CX7vuqPH86uMJ0Pe1p57Le/Vx33O/aO/wAp+LdJ8BwxCi5c++RLF2P9bu82NUIxm3hskqjXXFSlvJLwz+Q8TwowYSRpsU0bsCzyC1kBGwvvblz1NiK+fpp8xB5DYeFXnS3pfPj27ZyRA3WME282P3j6FZ6tXTUOtZZUvu42WeHkeRPs8ZfKX6wrey3tYlhztyrQcO6zAgw4tFOHnVwGIY5GcKCQU7QBCqGA3AGlxWb4PjupkzEXGx77eFW/EeKpinihBKxmRQWbdQxsfzrqU7VYkl6pNVXQ6OLPr79flt1z1fQtmIiikxKlZcsL4eGPDJM0ECSZg8s00g97tNodSXvoBYVDR4NsFnaRvteul+Yk90r+HIdCK6d0qx8uAwSQYTCdYsyyRkhWZY+yB7ig3JuSL/hrl0XRt4oZJ8WGhVRZEYEPLIQcoAOw53/AErn0isipN432x19xDKh8fCunXoeXCYCR8O7hRYMuU3GZivvqt9TYMp+HfVcDWo6s4fCoH0bq2e3NTIxyg9xIsbeVZZb1PCWWzvVaaNMYb7yWX7jQdE2uMYg95sDiMvjkaOVlH9hG+VUYavTwjiD4eeOdLFo2DWOzDZkb+qyllPgxq24l0cdpFfBxyTYec3gKKzFb7wSW92RDoQbXAB2OnZTKEGnz6eFX/EuickajqXXFOlxiEgs5w7g2CEA5nG93C5bi3jS4Xwr7PlxWMQpGvajhcFXxTjVUCNqIgdXci1hYXJoB+mRtiAp99IMKknhIuGjDA+I0Hwqk6z1rRYzFvM7yyNmd2Z2Nt2Y3POo1O16AkV61HQPCZpTiGAMWHMckl9yS1kVeRO7W/qeNengHR5MdE8MLwxmICUyP1nazEqM+nYBA7zrsDXp6CQlft2EmOUqYrkDMEkieRSTtmXW2lqr2zzW21glo2mmbJo1xznFRqFyWQ5wTdwQyswUgqLGwuTfntY+7hfB8OIT1tncvcvYoodmsBGba2JHMi5qbgzSQxmFpEcKMqADIw563uTbWxIG/hevLLCGtCuVpCvZJJIUOCLMqizFcxHlrWPxxjZiLUljr0NJ2+r3b7f6Usb4W86y4j3CMNh1AEkjdS3WTOIVGY5pGtoLWjFerhnAJS6yxwMrLqHn0tobFcPEcxuCbB3HLSrFuDnDRNDBHGDIr9tVyS5lAJ6zUlr3OtxrbTWq3h2Jxih4xE7ZxkIdh2GKoC24LGwsO63K9Txshxb7HmbHS3xdd1+TDe0PEz/bHiml6zqrBLqqAK6q1wq9/wAay7Pp/wB61HtFAOJDbPlysDe9kJUMdSLkhhvyHKsqTWnRLNaZlz7TGzUs9NehvUxyEW9a0xf1rQk0xNASRjMQuYLcgZmJyrc2uxtoBud618PRaFFzySNLqFQC6RSsbWySW7S9pRmDZbsPKsXfyr04Dik0BvE5XUEjdWt+JGup+IoDU4TiDRxCWNIoUZZWESaztGiurSCRxlzoQZBoCcm+tj5MFizPIjAMyjEYVQXN2bqhiJHdjtcdZew2BUeflwfSCKypLDkUaN1OWxQtd48j6hW1uqSIDc6d8suL0jmWaJlgSZwMoj/3l2KoBFob5TAbi4/YnXQ0BmOtJ1JuTqT3k6k/OmvTA8qV6AV6ZjSpiaA9fC+Fy4likK5iBc6gADvJO1QYzDvE7RuLMpsw7jWo6BYPFkyTYUxgqCtpASGbLfQbCwO576y2MxjzO0sjFnc5mY8yaijNubW2F88npCTXWOifA3wGGixLHq5p7tqLFE0yLcjS41t41guiHCmxGIQBDIFObKBcMRqAdfdvYnwBrt3S3hMrQhweuKalCqgZdLlQo5WXTXQGqmut24EW9PpuNZk8Z5FT/tY4QJIgexuRoSVCn3uzYDRjrrZT3GrHi+DafDxoqKCGEsOTMUzWZTE4FjlKuRfbVbi1YeXFh2A7LEhSOrKuRlY3WxIzG9t9BmP4r10LBmWOBEsZJEEQYLZu1dQ9z91SuYXPI3rOklVKE+/mWbY4lLvTJo+jmHnw8AC5FUqzkgq7AAhg5te9wLd3La1eSLgQUWjmmhUaZUZLEjTMbqbEgC9tPrXvxPFnZ5IReUqAbdlQob3Q7E3c2qOPEFr7RkHKVcXIO/JrWsRtVf8AUNVK2SjUuXP/AAmphOCy+pJxr91J/Afyr5pxf7x/4j+ZpUq1tB2plTU9iJHSpUq0zPY5pn/SlSoermfU+G9xf4V/yrm3tX/e4L+d+lNSrHo9qjXn2H56oynTX3pf5o/I1lFpUq06eyR/q3t1+1fYRrpvsf8A6PxH+Af3DSpVKZZj/Z3/AE7Deb/3a9HtD/4lP5L+VKlQGfWnpUqA9uD92b+Wv5itz7GP3+K/lf8A209Kq2p9jIlq7aPTi/6av8+P+6K23Rn+kv8Ay6elWb/7p+Bav7KLWf8Apa/yZP70NTJ70n8a/wCEtKlUGp7b+J7XyOF+0b+mP5H/ABpayzU9KtzT+zRSs7TGoKVKpjgXKhpUqAE09KlQETULcvjSpUAhRrSpUAJpjTUqA6P7Lf3GJ8pv8AVzNdh5UqVVKPa2fFfY9Z0X2P8A7yb+VJ/iYau4J7o/hH5UqVUdZ7Q049iHwRzvGf8AD4/PD/3q1nRr3JP5kv8AfelSqpfzRxL20iowX77iP82P/BSpONfvn/s/3FpUq4h7R/BfZF6vt+C/B//Z") center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    color: #fff;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    background: #ffcb06;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

/* ===== MENU ===== */
.menu {
    padding: 60px 40px;
    text-align: center;
}

.menu h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0 5px;
}

/* ===== REVIEWS ===== */
.reviews {
    padding: 50px 40px;
    background: #ffecc2;
}

.reviews h2 {
    text-align: center;
    margin-bottom: 25px;
}

.reviews-box {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.review {
    background: #fff;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* ===== FOOTER ===== */
footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}
